<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DOM XSS验证</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script th:inline="javascript">
	var name = [[${xname}]];
	//初始化变量
	var domxss1 = [[${domxss1}]]
	var domxss2 = [[${domxss2}]]
	var domxss3 = [[${domxss3}]]
	var domxss4 = [[${domxss4}]]
	
	
	//document.write dom xss样例
	if(domxss1 != ""){
		document.write("<P>1. document.write直接输出内容（实体）</p>");
		document.write("<P>"+domxss1 + "</p>");
		document.write("<P>2. document.write直接输出内容（属性）</p>");
		document.write("<a href=\"" +domxss1 + "\">超链接</a>");
	}
	
	//innerhtml dom xss样例
	
		
	
	
</script>
<body>
	<p>1. href链接 </p>
	<a href="domxss?domxss1=domxss1?" >domxss?domxss1=domxss1</a>
	<p>2. innerhtml直接输出</p>
    <div id="domxss2">
    <a href="domxss?domxss2=domxss2?" >domxss?domxss2=domxss2</a>
    </div>
    <p>3. location/location.href/location.replace/iframe.src导致的dom xss</p>
    <script th:inline="javascript">
		var domxss3 = [[${domxss3}]];
		if(domxss3 != ""){
			location.href=domxss3;
		}
	</script>
	<a href="domxss?domxss3=domxss3?" >domxss?domxss3=domxss3</a>
	<div id="evaldom">
    <P>4.1 使用setTimeout/setInterval/eval造成的XSS</P>
    <input id = "domxss4input" value="default"><br/>
    <input id="domxss4" value=""><br/>
    <input type="submit" onclick="update()" value="update"><br/>
    <P>4.2 使用eval造成的XSS</P>
    <input type="submit" onclick="update2()" value="update2"><br/>
    </div>
    <script th:inline="javascript">
		var domxss4 = [[${domxss4}]];
		function showText(text){
			document.getElementById("domxss4").value=text;
		}
		if(domxss4 != ""){
			//');alert(0);('
			setTimeout("showText('"+domxss4+"')",1000);
		}else{
			setTimeout("showText('it is null.')",1000);
		}
		function update(){
			
    		$.ajax({
    			url:"update",
    			data:{domxss4:$("#domxss4input").val()},
    			type:"GET",
    			dataType : 'text',
    			success:function(data){
    				//setTimeout("showText('"+data+"')",1000);
    				//setTimeout("showText('')console.log(12345678)('')",1000);
    				var va = data.replace(/\"/g, "");
    				eval("showText('"+va+"')");
    			}
    		});
		}
		function update2(){
    		$.ajax({
    			url:"update",
    			data:{domxss4:$("#domxss4input").val()},
    			type:"GET",
    			dataType : 'text',
    			success:function(data){
    				var va = data.replace(/\"/g, "");
    				window.location.href = 'domxss?domxss4='+encodeURI(va);
    			}
    		});
		}
	</script>
	
	<div id="adduser">
	<p> 5. form表单提交</p>
	<form action="adduser" method="POST">
 		<p>First name: <input type="text" name="username" /></p>
  		<p>Last name: <input type="text" name="password" /></p>
  		<input type="submit" value="Submit" />
	</form>
	</div>
	<div id="redirect">
	<p>6. redirect页面跳转</p>
	<input id="redirectinput" name="redirect" value=""><button onclick="confirmurls()">confirm</button><br/>
	<button onclick="redirect()" >open new windows</button>
	<script type="text/javascript">
		function confirmurls(){
			var url = window.location.href;
    		if(url.indexOf("?") != -1){
    			url = url.substr(0,url.indexOf("?"))
    		}
    		
    		url = url + "?redirect=" + encodeURIComponent(document.getElementById("redirectinput").value);
    		window.location.href = url;
    		
		}
		function redirect(){
			var url = document.getElementById("redirectinput").value;
			//window.open(url);
			window.location.href = url;
		}
	</script>
	</div>
    <br/>
    <br/>
    <br/>
    <!-- 
    <P>提交的原始内容如下：</P>
    <p th:text="'domxss1:'+${domxss1}"/> 
    <p th:text="'domxss2:'+${domxss2}" /> 
    <p th:text="'domxss3:'+${domxss3}" /> 
    <p th:text="'domxss4:'+${domxss4}" /> 
     -->
     
     <!-- 页面异步Ajax请求 -->
     <div id="welcome">
     </div>
     <script th:inline="javascript">
     	window.onload = function()
		{
			if(domxss2 != ""){
				document.getElementById("domxss2").innerHTML="<p>"+domxss2+"</p>";
			}
			
			document.getElementById("redirectinput").value = [[${redirect}]];
     	
    		var request = new XMLHttpRequest();
    		var url = window.location.href;
    		if(url.indexOf("?") != -1){
    			url = url.substr(0,url.indexOf("?"))
    		}
    		if(url.lastIndexOf("/") != -1){
    			url = url.substr(0,url.lastIndexOf("/"))
    		}
    		url = url + "/getinfo";
    		var method = "GET";
    		request.open(method,url);
    		request.send("user=tester");
    		request.onreadystatechange=function(){
    			if(request.readyState == 4){
    				if(request.status == 200){
    					document.getElementById("welcome").innerHTML="<p>7. 页面加载发起的ajax请求</p><p>" + request.responseText + "</p>";
    				}
    			}
    		}
    	}
     </script>
        
</body>
</html>