<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DOM XSS验证</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script th:inline="javascript">
	var name = [[${xname}]];
	//初始化变量
	var domxss1 = [[${domxss1}]]
	var domxss2 = [[${domxss2}]]
	var domxss3 = [[${domxss3}]]
	var domxss4 = [[${domxss4}]]
	
	
	//document.write dom xss样例
	if(domxss1 != null){
		document.write("<P>1. document.write直接输出内容（实体）</p>");
		document.write("<P>"+domxss1 + "</p>");
		document.write("<P>2. document.write直接输出内容（属性）</p>");
		document.write("<a href=\"" +domxss1 + "\">超链接</a>");
	}
	
	//innerhtml dom xss样例
	if(domxss2 != null){
		window.onload = function()
		{
			document.getElementById("domxss2").innerHTML="<p>"+domxss2+"</p>";
		}
	}
	
	
	
</script>
<body>
	
	<p>2. innerhtml直接输出</p>
    <div id="domxss2">
    
    </div>
    <p>3. location/location.href/location.replace/iframe.src导致的dom xss</p>
    <script th:inline="javascript">
		var domxss3 = [[${domxss3}]];
		if(domxss3 != ""){
			location.href=domxss3;
		}
	</script>
    <P>4. 使用setTimeout/setInterval/eval造成的XSS</P>
    <input id="domxss4" value="label"></input>
    </div>
    <script th:inline="javascript">
		var domxss4 = [[${domxss4}]];
		function showText(text){
			document.getElementById("domxss4").value=text;
		}
		if(domxss4 != ""){
			//');alert(0);('
			setTimeout("showText('"+domxss4+"')",2000);
		}
	</script>
	
	<div id="adduser">
	<form action="adduser" method="get">
 		<p>First name: <input type="text" name="username" /></p>
  		<p>Last name: <input type="text" name="password" /></p>
  		<input type="submit" value="Submit" />
	</form>
	</div>
    <br/>
    <br/>
    <br/>
    <!-- 
    <P>提交的原始内容如下：</P>
    <p th:text="'domxss1:'+${domxss1}"/> 
    <p th:text="'domxss2:'+${domxss2}" /> 
    <p th:text="'domxss3:'+${domxss3}" /> 
    <p th:text="'domxss4:'+${domxss4}" /> 
     -->
     
     <!-- 页面异步Ajax请求 -->
     <div id="welcome">
     </div>
     <script type="text/javascript">
    	window.onload=function()
    	{
    		var request = new XMLHttpRequest();
    		var url = window.location.href;
    		if(url.indexOf("?") != -1){
    			url = url.substr(0,url.indexOf("?"))
    		}
    		if(url.lastIndexOf("/") != -1){
    			url = url.substr(0,url.lastIndexOf("/"))
    		}
    		url = url + "/getinfo";
    		var method = "GET";
    		request.open(method,url);
    		request.send("user=tester");
    		request.onreadystatechange=function(){
    			if(request.readyState == 4){
    				if(request.status == 200){
    					document.getElementById("welcome").innerHTML="<p>" + request.responseText + "</p>";
    				}
    			}
    		}
    	}
     </script>
</body>
</html>